.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 145px;
  z-index: 5;
  & li {
    display: block;
    width: 25px;
    height: 10px;
    cursor: pointer;
    border-top: 3px solid #cdd3cf;
    z-index: 5;
  }

& li.active {
  border-color: #2284A1;
}
}
