$font-stack: "Open Sans", "Arial", sans-serif;
$black: #000000;
$blue-font: #00203a;
$blue: #182c3d;
$white: #ffffff;
$orange-font: #f0ba82;
$orange: #ee9c57;
$tablet: 768px;
$desktop: 1150px;
$mobil: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

